@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

nav {
  display: block;
}

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}

.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
}

.main-header__logo {
  margin: 0 auto;
}

.main-navigation__item {
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-navigation__link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 17px 75px 12px;
}

.intro {
  text-align: center;
  min-height: 631px;
  margin: 0 auto;
}

.intro__background {
  background-image: url("../img/index/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #193f54;
  min-height: 389px;
  margin-bottom: 32px;
}

.intro__text {
  margin: 90px 18px 85px 18px;
}

.intro__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.intro__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.intro__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages {
  text-align: center;
}

.advantages__image {
  margin: 0 auto;
  max-height: 260px;
}

.search {
  margin-top: 38px;
}

.search__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.search__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.search__button {
  font-size: 21px;
  font-weight: 700;
  min-height: 54px;
  padding: 16px 49px;
  box-sizing: border-box;
  margin-bottom: 49px;
}

.button {
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.location__map {
  display: block;
  margin: 0 auto;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
  padding: 28px 80px 23px;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__link {
  color: #000000;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  display: block;
  padding-bottom: 33px;
}

.servises-item {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.servises-item__wrap {
  margin-left: auto;
  max-width: 237px;
  text-align: left;
  padding-top: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.servises-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.servises-item__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.number-item__wrap {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.number-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.number-item__number {
  display: block;
  margin-bottom: 17px;
}

.number-item--accent {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 37px 0;
}

.number-item--secondary {
  background-color: #eeeeee;
  color: #000000;
  padding: 24px 0;
}

.number-item__description,
.number-item__index {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.number-item__image {
  max-height: 260px;
}

.copyright__text {
  font-size: 14px;
  text-transform: uppercase;
}

.intro-inner {
  background-image: url("../img/index/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #193f54;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.intro-inner__wrapper {
  padding: 52px 0 67px;
}

.intro-inner__text {
  display: block;
  margin: 0 auto;
}

.catalog__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.catalog__wrapper-intro {
  text-align: center;
  max-width: 280px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 17px;
}

.catalog__title {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.catalog__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog__item {
  width: 280px;
  margin: 0 auto;
}

.card {
  padding-bottom: 25px;
}

.card__image {
  display: block;
  margin-bottom: 15px;
}

.card__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 11px;
}

.card__likes-button {
  width: 23px;
  height: 21px;
  margin-right: 14px;
}

.card__likes-counter {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.presentation {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.presentation__wrapper {
  text-align: center;
}

.presentation__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.presentation__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.presentation__video {
  width: 280px;
  height: 177px;
  margin: 0 auto;
}

.feedback__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.feedback__wrapper-intro {
  text-align: center;
  margin-bottom: 28px;
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.feedback__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.form {
  max-width: 280px;
  margin: 0 auto;
}

.form__group {
  margin-top: 24px;
}

.form__group-title {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form__button {
  min-width: 280px;
  min-height: 58px;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 49px;
  margin-bottom: 3px;
}

.form__required-fields-text {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: end;
}

.text-field__label {
  font-size: 14px;
  line-height: 21px;
  padding-left: 16px;
}

.text-field__input {
  display: block;
  min-width: 280px;
  min-height: 58px;
  background-color: #f2f2f2;
  padding: 16px;
  box-sizing: border-box;
}

.contact-field__label {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;
}

.contact-field__input {
  display: block;
  min-width: 280px;
  min-height: 58px;
  background-color: #f2f2f2;
  padding: 16px;
  box-sizing: border-box;
}

.textarea__input {
  min-width: 280px;
  min-height: 150px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin-bottom: 56px;
}

.radio__decsription {
  font-weight: 700;
}

.checkbox__decsription {
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */