.advantages {
  text-align: center;
}

.advantages__list {
  width: $mobile-width-only;
  margin: 0 auto;
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: $tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: $desktop-width;
    margin: 0 auto;
  }
}
