.contact-field__label {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;

  &::after {
    position: absolute;
    content: "";
    background-color: #e6e6e6;
    width: 58px;
    height: 58px;
    top: 21px;
    right: 0;
  }

  &--phone::after {
    background-image: url("../img/icons/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--email::after {
    background-image: url("../img/icons/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contact-field__input {
  position: relative;
  display: block;
  min-width: 280px;
  min-height: 58px;
  background-color: $light-grey;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;

  &::after {
    position: absolute;
    content: "";
    background-color: #e6e6e6;
    width: 58px;
    height: 58px;
  }

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: $white;
    outline: 4px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 402px;
  }
}
