.contact-field {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: #e6e6e6;
    width: 58px;
    height: 58px;
    top: 26px;
    right: 0;
  }

  &--email-field::after {
    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--phone-field::after {
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contact-field__label {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;
}

.contact-field__input {
  position: relative;
  display: block;
  width: 280px;
  min-height: 58px;
  background-color: $light-grey;
  padding: 16px 70px 16px 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
  color: $black;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 700;
    padding-right: 70px;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: #e6e6e6;
    width: 58px;
    height: 58px;
  }

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: $white;
    outline: 4px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 402px;
  }
}
