.copyright {
  width: 128px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  margin-top: -3px;

  @media (min-width: $tablet-width) {
    width: 140px;
    margin-left: -15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 7px;
  }
}

.copyright__link:hover .copyright__text {
  color: #81b3d2;
}

.copyright__link:active .copyright__text {
  color: #b3b3b3;
}

.copyright__link:hover .copyright__icon {
  fill: #81b3d2;
}

.copyright__link:active .copyright__icon {
  fill: #b3b3b3;
}

.copyright__text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  width: 89px;
  margin-top: -7px;

  @media (min-width: $tablet-width) {
    width: 100px;
    padding-top: 7px;
  }
}

.copyright__icon {
  margin-right: -15px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 0;
    margin-top: 4px;
  }
}
