.feedback__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 648px;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 960px;
    padding: 0;
  }
}

.feedback__wrapper-intro {
  text-align: center;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 102px;
  }
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.feedback__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    max-width: 435px;
    margin: 0 auto;
  }
}
