.form {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    min-width: 648px;
    flex-wrap: wrap;
    column-gap: 70px;
    justify-content: space-between;
    row-gap: 48px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    min-width: 960px;
    flex-wrap: wrap;
    column-gap: 128px;
    justify-content: space-between;
    row-gap: 48px;
  }
}

.form__group {
  display: inline-block;
  position: relative;
  margin: 27px 0 27px;
  padding: 0;
  border: 0;

  &--radio {
    margin: 20px 0 20px;
  }

  &--checkbox {
    margin: 25px 0 22px;
  }

  &--textarea {
    margin: 20px 0 20px;
    margin-top: 26px;
  }

  @media (max-width: $mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 1px;
      left: -20px;
      top: -66px;
      background-color: #e5e5e5;
    }

    &--checkbox::before {
      top: -89px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    &--radio {
      margin-top: 21px;
      padding-top: 28px;
    }

    &--checkbox {
      padding-top: 28px;
      margin-bottom: -6px;
    }

    &--textarea {
      padding-top: 27px;
    }

    &--radio::before,
    &--radio::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &--radio::before {
      top: -15px;
      left: 0;
    }

    &--radio::after {
      top: -15px;
      right: 0;
    }

    &--checkbox::before,
    &--checkbox::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &--checkbox::before {
      top: -28px;
      left: 0;
    }

    &--checkbox::after {
      top: -28px;
      right: 0;
    }

    &--textarea::before,
    &--textarea::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &--textarea::before {
      top: -13px;
      left: 0;
    }

    &--textarea::after {
      top: -13px;
      right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--radio::before,
    &--radio::after {
      width: 280px;
    }

    &--checkbox::before,
    &--checkbox::after {
      width: 280px;
    }

    &--textarea::before,
    &--textarea::after {
      width: 280px;
    }
  }
}

.form__fields-list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    &--name::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
      bottom: -15px;
      left: 324px;
    }

    &--name,
    &--contacts {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    &--name::after {
      left: 493px;
    }
  }
}

.form__radio-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    width: 648px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 36px;
    column-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 80px;
    flex-wrap: nowrap;
    padding: 0 10px 0 53px;
    column-gap: 28px;
    align-items: center;
  }
}

.form__checkbox-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
    box-sizing: border-box;
    padding: 0 84px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 108px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 0 0 44px;
  }
}

.form__checkbox-item {
  list-style: none;

  @media (min-width: $tablet-width) {
    min-width: 224px;
    min-height: 46px;
  }
}

.form__field-item {
  list-style: none;
  height: 79px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__radio-item {
  list-style: none;
}

.form__textarea {
  @media (min-width: $tablet-width) {
    width: 648px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.form__group-title {
  position: relative;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 0;
  margin-bottom: 15px;
  display: block;

  &--radio,
  &--checkbox {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 3px;
  }

  &--textarea {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 23px;
    padding: 0;

    &--name {
      padding-left: 42px;
    }

    &--contacts {
      margin-left: -18px;
    }

    &--radio {
      margin: 0 auto;
    }

    &--checkbox {
      margin: 0 auto;
    }

    &--textarea {
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    &--name {
      padding-left: 62px;
    }

    &--contacts {
      padding-left: 48px;
    }

    &--radio {
      padding-top: 7px;
    }

    &--checkbox {
      padding-top: 8px;
      width: 330px;
    }

    &--textarea {
      padding-top: 15px;
    }
  }
}

.form__button {
  min-width: 280px;
  min-height: 58px;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 47px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}

.form__required-fields-text {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: end;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 172px;
    padding-top: 23px;
    text-align: center;
  }
}
