.index-item__wrap {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.index-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.index-item__index-number {
  display: block;
  margin-bottom: 17px;
}

.index-item--accent {
  background-color: $blue;
  color: #ffffff;
  padding: 37px 0;
}

.index-item--secondary {
  background-color: $grey;
  color: #000000;
  padding: 24px 0;
}

.index-item__description,
.index-item__index-number {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
