.intro-inner {
  background-image: url("../img/index/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: #193f54;
  box-sizing: border-box;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: auto;
    min-height: 290px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-height: 290px;
    margin-bottom: 100px;
  }
}

.intro-inner__wrapper {
  position: relative;
  padding: 52px 0 67px;

  @media (max-width: $mobile-width-only) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      // width: 160px;
      height: 57px;
      bottom: -1px;
      background-repeat: no-repeat;
    }

    &::after {
      background-image: url("../img/intro-divider-right.svg");
      right: 0;
      width: 50%;
    }

    &::before {
      background-image: url("../img/intro-divider-left.svg");
      left: 0;
      width: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 95px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 384px;
      height: 57px;
      background-repeat: no-repeat;
      bottom: -90px;
    }

    &::after {
      background-image: url("../img/intro-divider-right-tablet.svg");
      right: 0;
    }

    &::before {
      background-image: url("../img/intro-divider-left-tablet.svg");
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 600px;
      height: 57px;
      background-repeat: no-repeat;
      bottom: -90px;
    }

    &::after {
      background-image: url("../img/intro-divider-right-desktop.svg");
      right: 0;
    }

    &::before {
      background-image: url("../img/intro-divider-left-desktop.svg");
      left: 0;
    }
  }
}

.intro-inner__text {
  display: block;
  margin: 0 auto;
}
