.intro-inner {
  background-color: #193f54;
  background-image: url("../img/intro-divider-mobile.svg"), url("../img/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom, bottom;
  background-size: 100%;
  margin-bottom: 37px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-divider-mobile.svg"), url("../img/hero-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: auto;
    min-height: 290px;
    margin-bottom: 64px;
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/hero-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-divider-tablet.svg"), url("../img/hero-background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-height: 301px;
    margin-bottom: 99px;

    &--form {
      margin-bottom: 113px;
    }

    background-image: url("../img/intro-divider-desktop.svg"), url("../img/hero-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-divider-desktop.svg"), url("../img/hero-background-desktop@2x.jpg");
    }
  }
}

.intro-inner__wrapper {
  position: relative;
  padding: 52px 0 67px;

  @media (min-width: $tablet-width) {
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
  }
}

.intro-inner__text {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 77px;
  }

  @media (min-width: $desktop-width) {
    height: 80px;
  }
}
