.main-navigation__list {
  margin: 0;
  padding: 0;
}

.main-navigation__item {
  background-color: $blue;
  box-shadow:
    0 1px 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  list-style: none;
}

.main-navigation__link {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 17px 75px 12px;
  text-decoration: none;
}
