.number-item__wrap {
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
    &--underline::after {
      display: block;
      position: absolute;
      content: "";
      width: 280px;
      height: 1px;
      background: rgba(214, 214, 214, 1);
      bottom: -24px;
      left: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 auto;
    width: 190px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto;
    width: 300px;
  }
}

.number-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 14px;
    max-width: 190px;
  }
}

.number-item__title br {
  @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
    display: none;
  }
}

.number-item__index {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;

  &--secondary {
    margin-bottom: 19px;
    color: $text-color;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 23px;
  }
}

.number-item__description {
  position: relative;
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;

  &--secondary {
    color: $text-color;
  }

  @media (min-width: $tablet-width) {
    max-width: 190px;
  }

  @media (min-width: $desktop-width) {
    max-width: 330px;

    &--one {
      width: 300px;
    }

    &--thirdline {
      margin-left: -7px;
    }
  }
}

.number-item__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.number-item__description--secondary br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.number-item__description--accent br {
  @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.number-item__description--thirdline {
  width: 237px;

  @media (min-width: $desktop-width) {
    min-width: 310px;
  }
}

.number-item__description--thirdline br {
  @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.number-item__text {
  background-color: $blue;
  color: $white;
  padding: 54px 0;
  position: relative;
  height: 210px;
  box-sizing: border-box;

  &--accent {
    height: 191px;
    padding: 37px 20px;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 33.33%;
    flex-shrink: 2;
    height: 256px;
    padding: 53px 33px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
    max-height: 256px;
    box-sizing: border-box;
  }
}

.number-item__picture {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.number-item__image--left {
  display: block;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.number-item--accent {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
  }
}

.number-item--secondary {
  background-color: $grey;
  color: $black;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
    width: 33.33%;
    height: 256px;
    box-sizing: border-box;

    &:nth-child(2n) {
      padding: 53px 33px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 53px 33px;

    &:nth-child(2n) {
      padding: 63px 33px;
    }
  }
}
