.number-item__wrap {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.number-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
}

.number-item__number {
  display: block;
  margin-bottom: 17px;
}

.number-item--accent {
  background-color: $blue;
  color: $white;
  padding: 37px 0;
}

.number-item--secondary {
  background-color: $grey;
  color: $black;
  padding: 24px 0;
}

.number-item__description,
.number-item__index {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.number-item__description {
  margin: 0;
}

.number-item__image {
  max-height: 260px;
}
