.number-item__wrap {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 auto;
    max-width: 190px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto;
    max-width: 300px;
  }
}

.number-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 20px;
    max-width: 190px;
    margin: 0 auto;
  }
}

.number-item__index {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: block;
    padding-bottom: 25px;
    margin: 0;
  }
}

.number-item__description {
  position: relative;
  max-width: 280px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;

  &--underline {
    @media (max-width: $mobile-width-only) {
      &::after {
        display: block;
        position: absolute;
        content: "";
        width: 280px;
        height: 1px;
        background: rgba(214, 214, 214, 1);
        bottom: -24px;
        left: 0;
      }
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 190px;
  }

  @media (min-width: $desktop-width) {
    max-width: 290px;
  }
}

.number-item__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.number-item__description--accent br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.number-item__description--thirdline {
  width: 237px;

  @media (min-width: $desktop-width) {
    min-width: 300px;
  }
}

.number-item__description--thirdline br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.number-item__text {
  background-color: $blue;
  color: $white;
  padding: 37px 0;

  @media (min-width: $tablet-width) {
    flex-basis: 33.33%;
    flex-grow: 1;
    height: 256px;
    padding: 41px 33px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
    max-height: 256px;
    padding: 41px 33px;
    box-sizing: border-box;
  }
}

.number-item__picture {
  max-height: 256px;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.number-item__image--left {
  display: block;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.number-item--accent {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
  }
}

.number-item--secondary {
  background-color: $grey;
  color: $black;
  padding: 24px 0;

  @media (min-width: $tablet-width) {
    padding: 41px 33px;
    flex-basis: 256px;
    flex-grow: 1;
    min-height: 256px;
    box-sizing: border-box;
  }
}
