.page-footer {
  background-color: #ffffff;
  color: #000000;
  padding: 28px 80px 23px;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__link {
  color: #000000;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  display: block;
  padding-bottom: 33px;
}

.copyright__text {
  font-size: 14px;
  text-transform: uppercase;
}
