.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}
