.presentation {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.presentation__wrapper {
  text-align: center;
}

.presentation__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.presentation__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.presentation__video {
  width: 280px;
  height: 177px;
  margin: 0 auto;
}
