.radio__label {
  position: relative;
  display: block;
  min-height: 46px;
  box-sizing: border-box;
  padding: 10px 0 10px 62px;

  &:hover {
    .radio__mark {
      background-color: #e5e5e5;
    }
  }

  &:active {
    .radio__mark {
      background-color: #d5d5d5;
    }

    .radio__input:checked + .radio__mark::before {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 280px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.radio__input:checked + .radio__mark::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: $black;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.radio__input:focus + .radio__mark {
  background-color: #d5d5d5;
}

.radio__decsription {
  font-weight: 700;
}

.radio__mark {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  left: 0;
  top: 0;
  background-color: $light-grey;
  border: none;
  border-radius: 50%;
}
