.search {
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}

.search__wrapper {
  max-width: 320px;
  padding: 0 20px;
  padding-top: 6px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.search__description {
  width: 262px;
  margin: 0 auto;
  color: $text-color;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  margin-bottom: 32px;

  @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    min-width: 435px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.search__button {
  width: 282px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  min-height: 54px;
  padding: 16px 47px;
  box-sizing: border-box;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    width: 458px;
    min-height: 58px;
    padding: 16px 115px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}
