.servises-item {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.servises-item__wrap {
  margin-left: auto;
  max-width: 237px;
  text-align: left;
  padding-top: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.servises-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.servises-item__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}



