.text-field__label {
  font-size: 14px;
  line-height: 21px;
  padding-left: 16px;

}

.text-field__input {
  display: block;
  min-width: 280px;
  min-height: 58px;
  background-color: $light-grey;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: $white;
    outline: 4px solid rgba(229, 229, 229, 1);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    min-width: 430px;
  }
}
