@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  background-color: #e7e5e5;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page__modal-container-failure,
.page__modal-container-success {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.page__modal-container-failure--close,
.page__modal-container-success--close {
  display: none;
}

.main-header {
  height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (min-width: 768px) {
  .main-header__logo {
    z-index: 11;
  }
}

.main-navigation {
  min-height: 56px;
  width: auto;
  position: relative;
}
@media (min-width: 768px) {
  .main-navigation {
    display: block;
  }
}

.main-navigation__toggle {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: 17px 20px;
  border: none;
  background-color: transparent;
  right: 0;
  z-index: 2;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 10px 0 0 #81b3d2, 0 20px 0 0 #81b3d2;
}

.main-navigation--closed .main-navigation__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 10px 0 0 rgba(129, 179, 210, 0.6), 0 20px 0 0 rgba(129, 179, 210, 0.6);
}

.main-navigation--closed .main-navigation__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 10px 0 0 rgba(129, 179, 210, 0.3), 0 20px 0 0 rgba(129, 179, 210, 0.3);
}

@media (max-width: 767px) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }
}
.main-navigation--opened .main-navigation__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  min-height: 223px;
}

.main-navigation--opened .main-navigation__item:hover {
  background-color: #669ec0;
}
.main-navigation--opened .main-navigation__item:active {
  background-color: #5496bd;
}

.main-navigation--opened .main-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation--opened .main-navigation__toggle {
  top: 0;
  right: 0;
  z-index: 11;
}
.main-navigation--opened .main-navigation__toggle::before, .main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  right: 0;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
}
.main-navigation--opened .main-navigation__toggle::before {
  transform: rotate(45deg);
}
.main-navigation--opened .main-navigation__toggle::after {
  transform: rotate(-45deg);
}
.main-navigation--opened .main-navigation__toggle:hover::before, .main-navigation--opened .main-navigation__toggle:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.main-navigation--opened .main-navigation__toggle:active::before, .main-navigation--opened .main-navigation__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-navigation__list {
    display: flex;
    justify-content: space-between;
  }
}

.main-navigation__item {
  background-color: #81b3d2;
  align-items: center;
}
@media (min-width: 768px) {
  .main-navigation__item {
    width: 153px;
  }
  .main-navigation__item:nth-child(3) {
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .main-navigation__item {
    width: 240px;
  }
}

.main-navigation__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 18px 24px;
  text-decoration: none;
  height: 55px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-navigation__link {
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 21px;
  }
  .main-navigation__link--current {
    color: #766357;
  }
  .main-navigation__link:hover {
    color: #81b3d2;
  }
  .main-navigation__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.intro {
  text-align: center;
  min-height: 631px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .intro {
    min-height: 723px;
  }
}

.intro__background {
  position: relative;
  background-color: #193f54;
  background-image: url("../img/intro-divider-mobile.svg"), url("../img/hero-background-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-size: 100%;
  min-height: 389px;
  margin-bottom: 32px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro__background {
    background-image: url("../img/intro-divider-mobile.svg"), url("../img/hero-background-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .intro__background {
    min-height: 518px;
    margin-bottom: 47px;
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/hero-background-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro__background {
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/hero-background-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .intro__background {
    margin-bottom: 59px;
    background-image: url("../img/intro-divider-desktop.svg"), url("../img/hero-background-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .intro__background {
    background-image: url("../img/intro-divider-desktop.svg"), url("../img/hero-background-desktop@2x.jpg");
  }
}

.intro__text {
  margin: 90px 18px 85px 18px;
}
@media (min-width: 768px) {
  .intro__text {
    margin-top: 77px;
    width: 460px;
    height: 350px;
  }
}

.intro__wrapper {
  position: relative;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro__wrapper {
    max-width: 520px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .intro__wrapper {
    max-width: 484px;
  }
}

.intro__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 21px;
    line-height: 26px;
  }
  .intro__title br {
    display: none;
  }
}

.intro__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .intro__description {
    margin-bottom: 44px;
  }
}

.advantages {
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.search {
  margin-top: 38px;
}
@media (min-width: 768px) {
  .search {
    margin-top: 61px;
  }
}

.search__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .search__wrapper {
    max-width: 458px;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .search__title {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.search__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .search__description br {
    display: none;
  }
}
@media (min-width: 768px) {
  .search__description {
    font-size: 14px;
    line-height: 21px;
    min-width: 435px;
    margin-bottom: 41px;
  }
}

.search__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  min-height: 54px;
  padding: 16px 47px;
  box-sizing: border-box;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .search__button {
    min-height: 58px;
    padding: 16px 115px;
    margin-bottom: 58px;
  }
}

.button {
  background-color: #81b3d2;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.location {
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.location__map {
  width: 100%;
  border: none;
  height: 350px;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
  padding: 29px 80px;
  min-height: 233px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .page-footer {
    min-height: 120px;
    padding: 36px 60px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    max-width: 1200px;
    padding: 36px 120px;
  }
}

.page-footer__wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__link {
  color: #000000;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  display: block;
  padding-bottom: 33px;
  text-decoration: none;
}
.page-footer__link:hover {
  color: #81b3d2;
}
.page-footer__link:active {
  color: #766357;
}
@media (min-width: 768px) {
  .page-footer__link {
    padding: 0;
    display: block;
    align-self: center;
  }
}

.servises-item {
  position: relative;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .servises-item {
    padding: 155px 33px 60px;
    margin: 0;
    width: 33.33%;
    min-height: 331px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .servises-item {
    padding: 167px 33px 70px;
    min-width: 400px;
    min-height: 330px;
  }
}

.servises-item__wrap {
  margin-left: auto;
  max-width: 237px;
  text-align: left;
  padding-top: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .servises-item__wrap {
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 190px;
  }
}
@media (min-width: 1200px) {
  .servises-item__wrap {
    min-width: 300px;
    margin: 0 auto;
  }
}

.servises-item__title {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
}
.servises-item__title::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -47px;
  width: 40px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.servises-item__title--house::before {
  background-image: url("../img/icons/icon-house-mobile.svg");
  top: -5px;
}
.servises-item__title--food::before {
  background-image: url("../img/icons/icon-burger-mobile.svg");
}
.servises-item__title--gift::before {
  background-image: url("../img/icons/icon-gift-mobile.svg");
}
@media (min-width: 768px) {
  .servises-item__title {
    font-size: 21px;
    line-height: 26px;
  }
  .servises-item__title::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 60px;
    width: 70px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .servises-item__title--house::before {
    background-image: url("../img/icons/icon-house-tablet.svg");
  }
  .servises-item__title--food::before {
    background-image: url("../img/icons/icon-burger-tablet.svg");
  }
  .servises-item__title--gift::before {
    background-image: url("../img/icons/icon-gift-tablet.svg");
  }
}
@media (min-width: 1200px) {
  .servises-item__title::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 115px;
    width: 70px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .servises-item__title--house::before {
    background-image: url("../img/icons/icon-house-desktop.svg");
  }
  .servises-item__title--food::before {
    background-image: url("../img/icons/icon-burger-desktop.svg");
  }
  .servises-item__title--gift::before {
    background-image: url("../img/icons/icon-gift-tablet.svg");
  }
}

.servises-item__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 767px) {
  .servises-item__description br {
    display: none;
  }
}

.number-item__wrap {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .number-item__wrap {
    padding: 0;
    margin: 0 auto;
    max-width: 190px;
  }
}
@media (min-width: 1200px) {
  .number-item__wrap {
    padding: 0;
    margin: 0 auto;
    max-width: 300px;
  }
}

.number-item__title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .number-item__title {
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 20px;
    max-width: 190px;
    margin: 0 auto;
  }
}

.number-item__index {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .number-item__index {
    display: block;
    padding-bottom: 25px;
    margin: 0;
  }
}

.number-item__description {
  position: relative;
  max-width: 280px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .number-item__description--underline::after {
    display: block;
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background: #d6d6d6;
    bottom: -24px;
    left: 0;
  }
}
@media (min-width: 768px) {
  .number-item__description {
    max-width: 190px;
  }
}
@media (min-width: 1200px) {
  .number-item__description {
    max-width: 290px;
  }
}

@media (min-width: 768px) {
  .number-item__description br {
    display: none;
  }
}

@media (max-width: 767px) {
  .number-item__description--accent br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .number-item__description--accent br {
    display: block;
  }
}

.number-item__description--thirdline {
  width: 237px;
}
@media (min-width: 1200px) {
  .number-item__description--thirdline {
    min-width: 300px;
  }
}

@media (max-width: 767px) {
  .number-item__description--thirdline br {
    display: none;
  }
}
@media (min-width: 768px) {
  .number-item__description--thirdline br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .number-item__description--thirdline br {
    display: none;
  }
}

.number-item__text {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 37px 0;
}
@media (min-width: 768px) {
  .number-item__text {
    flex-basis: 33.33%;
    flex-grow: 1;
    height: 256px;
    padding: 41px 33px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .number-item__text {
    min-width: 400px;
    max-height: 256px;
    padding: 41px 33px;
    box-sizing: border-box;
  }
}

.number-item__picture {
  max-height: 256px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .number-item__picture {
    width: 512px;
  }
}
@media (min-width: 1200px) {
  .number-item__picture {
    width: 800px;
  }
}

.number-item__image--left {
  display: block;
}
@media (min-width: 768px) {
  .number-item__image--left {
    order: -1;
  }
}

@media (min-width: 768px) {
  .number-item--accent {
    display: flex;
    width: 100%;
  }
}

.number-item--secondary {
  background-color: #eeeeee;
  color: #000000;
  padding: 24px 0;
}
@media (min-width: 768px) {
  .number-item--secondary {
    padding: 41px 33px;
    flex-basis: 256px;
    flex-grow: 1;
    min-height: 256px;
    box-sizing: border-box;
  }
}

.copyright {
  width: 128px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .copyright {
    margin: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.copyright__link:hover .copyright__text {
  color: #81b3d2;
}

.copyright__link:active .copyright__text {
  color: #b3b3b3;
}

.copyright__link:hover .copyright__icon {
  fill: #81b3d2;
}

.copyright__link:active .copyright__icon {
  fill: #b3b3b3;
}

.copyright__text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 89px;
}

.social {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 156px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .social {
    margin: 0;
  }
}

.social__item {
  list-style: none;
}

.social__link {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  display: block;
  padding: 15px 12px;
  box-sizing: border-box;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}

.social__icon {
  position: absolute;
  fill: #ffffff;
}
.social__icon--vk {
  top: 17px;
  right: 12px;
}
.social__icon--tg {
  top: 15px;
  right: 13px;
}
.social__icon--youtube {
  top: 17px;
  right: 14px;
}

.social__link:active .social__icon {
  fill: rgba(255, 255, 255, 0.3);
}

.intro-inner {
  background-color: #193f54;
  background-image: url("../img/intro-divider-mobile.svg"), url("../img/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom, bottom;
  background-size: 100%;
  margin-bottom: 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro-inner {
    background-image: url("../img/intro-divider-mobile.svg"), url("../img/hero-background-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .intro-inner {
    width: auto;
    min-height: 290px;
    margin-bottom: 64px;
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/hero-background-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro-inner {
    background-image: url("../img/intro-divider-tablet.svg"), url("../img/hero-background-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .intro-inner {
    width: auto;
    min-height: 290px;
    margin-bottom: 100px;
    background-image: url("../img/intro-divider-desktop.svg"), url("../img/hero-background-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .intro-inner {
    background-image: url("../img/intro-divider-desktop.svg"), url("../img/hero-background-desktop@2x.jpg");
  }
}

.intro-inner__wrapper {
  position: relative;
  padding: 52px 0 67px;
}
@media (min-width: 768px) {
  .intro-inner__wrapper {
    padding-top: 95px;
  }
}
@media (min-width: 1200px) {
  .intro-inner__wrapper {
    padding-top: 101px;
  }
}

.intro-inner__text {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro-inner__text {
    width: 460px;
    height: 77px;
  }
}
@media (min-width: 1200px) {
  .intro-inner__text {
    height: 80px;
  }
}

.catalog__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    max-width: 768px;
    padding: 0 60px;
    margin: 0 auto;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .catalog__wrapper {
    max-width: 1200px;
    padding: 0;
  }
}

.catalog__wrapper-intro {
  text-align: center;
  max-width: 280px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .catalog__wrapper-intro {
    min-width: 458px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 67px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.catalog__item {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__item {
    margin: 0;
  }
}

.catalog__title {
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 30px;
    line-height: 26px;
  }
}

.catalog__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.catalog__description br {
  display: none;
}
@media (min-width: 768px) {
  .catalog__description br {
    display: block;
  }
}

.card {
  position: relative;
  min-height: 424px;
  box-sizing: border-box;
  padding: 24px 0;
}
@media (max-width: 767px) {
  .card::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    left: -20px;
    top: 0;
  }
  .card:last-child::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    left: -20px;
    bottom: -5px;
  }
}
@media (min-width: 768px) {
  .card {
    width: 50%;
    min-height: 347px;
    padding: 0;
  }
  .card--huge {
    width: 100%;
    height: 480px;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 33.3%;
    min-height: 267px;
    box-sizing: border-box;
    padding: 0;
  }
  .card--huge {
    width: 100%;
    height: 400px;
  }
}

.card__image {
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card__image {
    width: 100%;
    height: 267px;
    margin: 0;
  }
  .card__image--huge {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .card__info {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    box-sizing: border-box;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .card__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

.card__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.card__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .card__author {
    margin: 0;
  }
}

.card__likes-button {
  width: 23px;
  height: 21px;
  margin-right: 14px;
  border: 0;
  padding: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  .card__likes-button {
    margin-right: 9px;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .card__likes-icon {
    fill: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) {
  .card__likes-icon {
    fill: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1200px) {
  .card__likes-icon {
    fill: #ffffff;
  }
}

@media (min-width: 768px) {
  .card__likes-wrapper {
    padding-top: 7px;
  }
}

.card__likes-counter {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.presentation {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .presentation {
    max-width: 768px;
    padding: 0 60px;
  }
}

.presentation__wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .presentation__wrapper {
    max-width: 648px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .presentation__wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}

.presentation__title {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .presentation__title {
    font-size: 30px;
    line-height: 26px;
  }
}

.presentation__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .presentation__description {
    font-size: 14px;
    line-height: 26px;
    max-width: 445px;
    margin: 0 auto;
    margin-bottom: 66px;
  }
}

@media (min-width: 768px) {
  .presentation__description br {
    display: none;
  }
}

.presentation__video {
  width: 280px;
  height: 177px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .presentation__video {
    width: 648px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .presentation__video {
    width: 800px;
    height: 500px;
  }
}

@media (min-width: 768px) {
  .video-image {
    width: 648px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .video-image {
    width: 800px;
    height: 500px;
  }
}

.feedback__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .feedback__wrapper {
    max-width: 648px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .feedback__wrapper {
    max-width: 960px;
    padding: 0;
  }
}

.feedback__wrapper-intro {
  text-align: center;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .feedback__wrapper-intro {
    margin-bottom: 102px;
  }
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .feedback__title {
    font-size: 30px;
  }
}

.feedback__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .feedback__description {
    line-height: 24px;
    max-width: 435px;
    margin: 0 auto;
  }
}

.form {
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: row;
    min-width: 648px;
    flex-wrap: wrap;
    column-gap: 70px;
    justify-content: space-between;
    row-gap: 48px;
  }
}
@media (min-width: 1200px) {
  .form {
    display: flex;
    flex-direction: row;
    min-width: 960px;
    flex-wrap: wrap;
    column-gap: 128px;
    justify-content: space-between;
    row-gap: 48px;
  }
}

.form__group {
  display: inline-block;
  position: relative;
  margin: 24px 0 24px;
  padding: 0;
  border: 0;
}
@media (max-width: 767px) {
  .form__group::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    left: -20px;
    top: -65px;
    background-color: #e5e5e5;
  }
  .form__group--checkbox::before {
    top: -89px;
  }
}
@media (min-width: 768px) {
  .form__group {
    margin: 0;
  }
  .form__group--radio::before, .form__group--radio::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .form__group--radio::before {
    top: -40px;
    left: 0;
  }
  .form__group--radio::after {
    top: -40px;
    right: 0;
  }
  .form__group--checkbox::before, .form__group--checkbox::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .form__group--checkbox::before {
    top: -57px;
    left: 0;
  }
  .form__group--checkbox::after {
    top: -57px;
    right: 0;
  }
  .form__group--textarea::before, .form__group--textarea::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }
  .form__group--textarea::before {
    top: -40px;
    left: 0;
  }
  .form__group--textarea::after {
    top: -40px;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .form__group--radio::before, .form__group--radio::after {
    width: 280px;
  }
  .form__group--checkbox::before, .form__group--checkbox::after {
    width: 280px;
  }
  .form__group--textarea::before, .form__group--textarea::after {
    width: 280px;
  }
}

.form__fields-list {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .form__fields-list--name::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    bottom: -15px;
    left: 324px;
  }
  .form__fields-list--name, .form__fields-list--contacts {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
@media (min-width: 1200px) {
  .form__fields-list--name::after {
    left: 493px;
  }
}

.form__radio-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 768px) {
  .form__radio-list {
    width: 648px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 36px;
    column-gap: 16px;
  }
}
@media (min-width: 1200px) {
  .form__radio-list {
    width: 100%;
    min-height: 80px;
    flex-wrap: nowrap;
    padding: 0 10px 0 53px;
    column-gap: 28px;
    align-items: center;
  }
}

.form__checkbox-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 768px) {
  .form__checkbox-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
    box-sizing: border-box;
    padding: 0 84px;
  }
}
@media (min-width: 1200px) {
  .form__checkbox-list {
    width: 100%;
    min-height: 108px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 20px 0 44px;
  }
}

.form__checkbox-item {
  list-style: none;
}
@media (min-width: 768px) {
  .form__checkbox-item {
    min-width: 224px;
    min-height: 46px;
  }
}

.form__field-item {
  list-style: none;
  height: 79px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .form__field-item {
    margin-bottom: 0;
  }
}

.form__radio-item {
  list-style: none;
}

@media (min-width: 768px) {
  .form__textarea {
    width: 648px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .form__textarea {
    width: 960px;
  }
}

.form__group-title {
  position: relative;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}
@media (min-width: 768px) {
  .form__group-title {
    font-size: 21px;
    margin-bottom: 28px;
    padding: 0;
  }
}

.form__button {
  min-width: 280px;
  min-height: 58px;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 47px;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .form__button {
    width: 324px;
  }
}

@media (min-width: 768px) {
  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .form__button-wrapper {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}

.form__required-fields-text {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: end;
}
@media (min-width: 768px) {
  .form__required-fields-text {
    margin: 0;
    padding-top: 23px;
  }
}

.text-field__label {
  font-size: 14px;
  line-height: 21px;
  padding-left: 16px;
}

.text-field__input {
  display: block;
  min-width: 280px;
  min-height: 58px;
  background-color: #f2f2f2;
  padding: 16px;
  box-sizing: border-box;
  border: none;
}
.text-field__input:hover {
  background-color: #e5e5e5;
}
.text-field__input:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
@media (min-width: 768px) {
  .text-field__input {
    min-width: 280px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .text-field__input {
    min-width: 430px;
  }
}

.contact-field {
  position: relative;
}
.contact-field::after {
  position: absolute;
  content: "";
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
  top: 26px;
  right: 0;
}
.contact-field--email-field::after {
  background-image: url("../img/icons/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.contact-field--phone-field::after {
  background-image: url("../img/icons/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-field__label {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;
}

.contact-field__input {
  position: relative;
  display: block;
  min-width: 280px;
  min-height: 58px;
  background-color: #f2f2f2;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
}
.contact-field__input::after {
  position: absolute;
  content: "";
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
}
.contact-field__input:hover {
  background-color: #e5e5e5;
}
.contact-field__input:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
@media (min-width: 768px) {
  .contact-field__input {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .contact-field__input {
    min-width: 402px;
  }
}

.textarea__input {
  min-width: 280px;
  min-height: 150px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin-bottom: 56px;
  border: 0;
}
.textarea__input:hover {
  background-color: #e5e5e5;
}
.textarea__input:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
@media (min-width: 768px) {
  .textarea__input {
    width: 648px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .textarea__input {
    width: 768px;
  }
}

@media (min-width: 768px) {
  .textarea__label {
    margin: 0 auto;
  }
}

.radio__label {
  position: relative;
  display: block;
  min-height: 46px;
  box-sizing: border-box;
  padding: 10px 0 10px 62px;
}
.radio__label:hover .radio__mark {
  background-color: #e5e5e5;
}
.radio__label:active .radio__mark {
  background-color: #d5d5d5;
}
.radio__label:active .radio__input:checked + .radio__mark::before {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .radio__label {
    min-width: 280px;
  }
}
@media (min-width: 1200px) {
  .radio__label {
    margin: 0;
  }
}

.radio__input:checked + .radio__mark::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #000000;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.radio__decsription {
  font-weight: 700;
}

.radio__mark {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  left: 0;
  top: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .checkbox-item {
    display: block;
    width: auto;
    min-height: 46px;
    box-sizing: border-box;
  }
}

.checkbox__label {
  position: relative;
  display: block;
  min-height: 46px;
  box-sizing: border-box;
  padding: 10px 0 10px 62px;
}
@media (min-width: 1200px) {
  .checkbox__label {
    min-height: 46px;
    margin: 0 0;
  }
}

.checkbox__label:hover .checkbox__mark {
  background-color: #e5e5e5;
}

.checkbox__label:active .checkbox__mark {
  background-color: #d5d5d5;
}

.checkbox__input:checked + .checkbox__mark::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  background-image: url("../img/icons/tick-icon.svg");
  top: 15px;
  left: 13px;
}

.checkbox__input:checked + .checkbox__mark:active::before {
  opacity: 0.3;
}

.checkbox__decsription {
  font-weight: 700;
}

.checkbox__mark {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  left: 0;
  top: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}
.checkbox__mark:hover {
  background-color: #e5e5e5;
}
.checkbox__mark:active {
  background-color: #d5d5d5;
}

.modal__window {
  position: relative;
  max-width: 320px;
  margin: auto;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.modal__window--failure {
  padding: 45px 41px 35px;
  height: 280px;
  box-sizing: border-box;
}
.modal__window--success {
  padding: 0;
}
@media (min-width: 768px) {
  .modal__window--failure {
    max-width: 400px;
    height: 347px;
    padding: 50px 47px 49px;
    box-sizing: border-box;
  }
  .modal__window--success {
    min-width: 640px;
  }
}

.modal__text-wrapper {
  min-height: 225px;
  padding: 44px 37px 34px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal__text-wrapper {
    min-height: 201px;
  }
}

.modal__title {
  font-size: 21px;
  text-transform: uppercase;
  margin: 0 auto;
}
.modal__title--failure {
  margin-bottom: 33px;
  max-width: 237px;
}
.modal__title--success {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
}
.modal__description--failure {
  margin-bottom: 28px;
  max-width: 237px;
}
@media (min-width: 768px) {
  .modal__description--failure {
    max-width: 307px;
    margin: 0;
    margin-bottom: 41px;
  }
  .modal__description--success {
    max-width: 444px;
  }
}

.modal__button {
  padding: 18px 63px 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  box-sizing: border-box;
  height: 58px;
  margin: 0 auto;
}
.modal__button--failure {
  width: 180px;
}
.modal__button--success {
  width: 280px;
}
@media (min-width: 768px) {
  .modal__button--failure {
    width: 272px;
    font-size: 21px;
  }
  .modal__button--success {
    width: 458px;
  }
}

.modal__button-wrapper {
  background-color: #f2f2f2;
  min-width: 320px;
  min-height: 98px;
  padding: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal__button-wrapper {
    min-height: 146px;
    padding: 44px 91px;
  }
}
/*# sourceMappingURL=style.css.map */